// Custom styles.
// 设置背景图片
body {
  background: url(/uploads/loginbackroup1.jpg) no-repeat;
  /* 背景图垂直、水平均居中 */
  background-position: center center;
  /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
  background-attachment: fixed;
  /* 让背景图基于容器大小伸缩 */
  background-size: cover;
  /* 设置背景颜色，背景图加载过程中会显示背景色 */
  background-color: rgba(243,247,249,.3);
}
//设置字体
.content {
            border-radius: 20px; //文章背景设置圆角
            padding: 30px 60px 30px 60px; //设置文章到顶部的距离
            background:rgba(255, 255, 255, 0.8) none repeat scroll !important;
         }
.posts-expand .post-eof {
    margin: 40px auto 40px;
}
.post-button {
    margin-top: 20px;
}
.posts-expand .post-meta {
    margin: 3px 0 30px 0;
}
.posts-expand {
    padding-top: 0px;
}
